/* Master styles */
body {
	font-family: 'Source Serif Pro', serif;
	margin: 0px;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
}

/* Footer styles */

footer {
	padding-top: 10px;
	background: white;
}

.footer-bottom {
	color: grey;
	height: 30px;
	width: 100%;
	text-align: center;
	bottom: 0;
}

.footer-content {
	height: 80px;
}


/* Nav styles */
.nav-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 38px;
}

.left-side {
	display: flex;
}

.nav-wrapper > .left-side > div {
	margin-right: 20px;
	font-size: 0.9em;
	text-transform: uppercase;
}

.nav-link-wrapper {
	height: 22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
	color: #8a8a8a;
	text-decoration: none;
	transition: color 0.5s;
}

.nav-link-wrapper:hover {
	border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
	color: black;
}

.active-nav-link {
	border-bottom: 1px solid black;
}

.active-nav-link a {
	color: black !important;
}

/* Portfolio styles */

.portfolio-items-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
	position: relative;
}

.portfolio-img-background {
	transition: 1s;
	height: 300px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.img-text-wrapper {
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
}

.logo-wrapper img {
	width: 35%;
	padding-top: 30px;
	margin-bottom: 0px;

}

.img-text-wrapper .subtitle {
	transition: 1s;
	font-weight: 600;
	color: transparent;
}

.img-text-wrapper:hover .subtitle {
	transition: 1s;
	font-weight: 600;
	color: lightseagreen;
}

.img-darken {
	transition: 1s;
	filter: brightness(20%);
}

/* About page styles */

.two-column-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.profile-img-wrapper img {
	width: 100%;
}

.profile-content-wrapper {
	padding: 30px;
}

.profile-content-wrapper h1 {
	color: lightseagreen;
}

/* Project page styles */

.project-wrapper {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

.info-section-wrapper {
	position: relative;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}

.info-section-wrapper .info-section-heading {
	background: whitesmoke;
	position: relative;
	width: 100%;
}

.info-section-wrapper > .info-section-heading > h1 {
	margin: 0;
	text-align: center;
	border-bottom: 1px solid grey;
}

.info-section-wrapper .info-section-content {
	padding: 10px;
}

.iframe-section {
	position: relative;
	border-bottom: 1px solid grey;
}

/* Education page styles */

.education-content-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;

}

.content-column-left img, .content-column-right img {
	max-width: 60%;
	border: 2px solid rgb(175, 175, 175);
}

.content-column-right img, .content-column-right h1, .content-column-left img, .content-column-left h1 {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content-column-right {
	padding-right: 30px;
}

.content-column-left {
	margin-left: 30px;
}

.content-column-heading {
	text-decoration: underline;
	font-size: 0.6vw;
}

.content-column-desc {
	text-align: justify;
	font-size: 1.2em;
	padding: 80px;
}